body {
  background-image: url('https://i.imgur.com/n1dLSmj.gif');
  background-repeat: repeat;
  background-position: top left;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000000;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox {
  width: 50%;
  background-color: #000000;
  text-align: center;
  padding: 20px;
  border: 3px solid #FF0000;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 5px;
  color: red;
  text-decoration: underline;
  font-size: 10px;
  width: 23.4%;
  text-align: center;
}

.navbar a.active {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/f0836587180073.5db0260d02bd1.gif");
    color: black;
}

.navbar a.ocean {
  color: blue;
}

.navbar a.ocean:hover {
  background-image: url("https://i.pinimg.com/originals/1d/15/d8/1d15d8da8b3b6f3a895828ba2663f409.gif");
  color: white;
}

.navbar a.jungle {
  color: darkgreen;
}

.navbar a.jungle:hover {
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTZjMDliOTUybGh3YzV4MW05ZW9wZ2MzdHZjMHA5bHE5NHYyeGkxdG94cXFtd2Y0bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/uf3jumi0zzUv6/200w.gif");
  color: white;
}

.navbar a.desert {
  color: gold;
}

.navbar a.desert:hover {
  background-image: url("https://media.tenor.com/-9MYV1QS32UAAAAM/sand-desert.gif");
  color: black;
}

.content {
  text-align: center;
}

.content h1 {
  text-decoration: underiine;
}


