body {
  background-image: url('https://i.imgur.com/n1dLSmj.gif');
  background-repeat: repeat;
  background-position: top left;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000000;
}

.infobox {
  margin: auto;
  width: 50%;
  border: 3px solid #2F1515;
  padding: 10px;
}
